/JavaApplication19/nbproject/private/
/JavaApplication19/build/
/Fraction/Comparing/build/
/Fraction/Comparing/nbproject/private/
/Fraction/build/
/Fraction/nbproject/private/
/Bank/nbproject/private/
/Comparing/build/
/Comparing/nbproject/private/
/Shapes/build/
/Shapes/nbproject/private/